@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 3px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #eaeaea;
}

.all {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cabecera, h2 {
    background-color: #050404;
    text-align: center;
    color: #f9f9f9;
    margin-bottom: 2em;
    border-radius: 25px;
    padding: 1%;
}

.content, .test {
    width: 49%;
    float: left;
}

.formulario {
    width: 49%;
    float: right;
}

p, a {
    margin-left: 1.5em;
    margin-bottom: 1em;
    margin-right: 1em;
}

/* ***Adaptar video a vista movil... */

.videoP {
    text-align: right;
    height: auto;
    width: 45%;
    float: left;
}

#videoPhishing {
    text-align: center;
    width: 560px;
    height: 315px;
}

h2 {
    margin-left: 1em;
    margin-bottom: 0.7em;
    margin-right: 1em;
}

@media (max-width: 1180px), (max-height: 450px) {
    * {
        margin: 1px;
    }
    .content, .test, .formulario {
        float: none;
        width: 95%;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    #videoPhishing {
        width: inherit;
        height: fit-content;
    }
    .videoP {
        text-align: center;
        width: 95%;
        height: auto;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        margin-bottom: 0.5em;
    }
}